<%= form_for(@f_table) do |f| %>
  <% if @f_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@f_table.errors.count, "error") %> prohibited this f_table from being saved:</h2>

      <ul>
      <% @f_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :df1 %><br>
    <%= f.number_field :df1 %>
  </div>
  <div class="field">
    <%= f.label :df2 %><br>
    <%= f.number_field :df2 %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
