<p id="notice"><%= notice %></p>

<h1>Listing F Tables</h1>

<table>
  <thead>
    <tr>
      <th>Df1</th>
      <th>Df2</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @f_tables.each do |f_table| %>
      <tr>
        <td><%= f_table.df1 %></td>
        <td><%= f_table.df2 %></td>
        <td><%= f_table.value %></td>
        <td><%= link_to 'Show', f_table %></td>
        <td><%= link_to 'Edit', edit_f_table_path(f_table) %></td>
        <td><%= link_to 'Destroy', f_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New F table', new_f_table_path %>
