<p id="notice"><%= notice %></p>

<p>
  <strong>Df1:</strong>
  <%= @f_table.df1 %>
</p>

<p>
  <strong>Df2:</strong>
  <%= @f_table.df2 %>
</p>

<p>
  <strong>Value:</strong>
  <%= @f_table.value %>
</p>

<%= link_to 'Edit', edit_f_table_path(@f_table) %> |
<%= link_to 'Back', f_tables_path %>
